<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/leon.png">
    <title>Dashboard - Goal Model Editor</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/dashboard.css">

</head>
<body>
    <!-- Start wrapper div -->
    <div>
        <div class="overlay"></div>
        <!-- Start alert div -->
        <!-- Success alert -->
        <div style="display: none" class="text-center alert alert-success mb-0 notification"
             id="success-alert" role="alert">
        </div>
        <!-- Warning alert -->
        <div style="display: none" class="text-center alert alert-warning mb-0 notification"
             id="warning-alert" role="alert">
        </div>
        <!-- End alert div -->

        <!-- Header part of the page -->
        <header class="bg-white mb-2 py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col" style="font-size: 35px;min-width:400px">
                        <strong>&nbsp;&nbsp;&nbsp;Motivational Model</strong>
                    </div>
                    <!-- Search div -->
                    <div class="col col-sm-2">
                    </div>
                    <!-- User div -->
                    <div class="col-2 col-sm-2">
                        <div class="row text-center pt-2">
                            <div class="btn-group">
                                <button class="btn" type="button" id="user-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>&nbsp;&nbsp;<a id="username"> username</a>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="user-dropdown">
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                    <a class="dropdown-item" id="signout">Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main part of the page -->
        <main role="main" class="border-bottom container-fluid pt-2"  style="width:auto; min-width:1280px;
        overflow-y:hidden; max-width: 100%;">

            <div class="row" style="width:auto; min-width:1280px; overflow-y:hidden; max-width: 100%;">
                <div class="container-fluid" style="width:auto; min-width:20%;">

                    <!-- Add new project/template button-->
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-3 mb-2"
                                data-toggle="modal" data-target="#add-project"
                                id="new-project-button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Project
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-primary mt-3 mb-2" data-toggle="modal" style="display: none"
                                data-target="#add-template" id="new-template-button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Template
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </button>
                    </div>
                    <hr>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-projects-tab" data-toggle="pill" href="#v-pills-projects"
                           role="tab" aria-controls="v-pills-projects" aria-selected="true">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <i class="fas fa-folder"></i>
                                </div>
                                <div class="col-8">
                                    Projects
                                </div>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-templates-tab" data-toggle="pill" href="#v-pills-templates"
                           role="tab" aria-controls="v-pills-templates" aria-selected="false">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <i class="fas fa-clone"></i>
                                </div>
                                <div class="col-8">
                                    Templates
                                </div>
                            </div>
                        </a>
                        <!-- TODO: remove class "disabled" and add href="#v-pills-share" to make it available -->
                        <a class="nav-link isDisabled" id="v-pills-share-tab" data-toggle="pill"
                           role="tab" aria-controls="v-pills-share" aria-selected="false">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="col-8">
                                    Shared with me
                                </div>
                            </div>
                        </a>
                        <!-- TODO: remove class "disabled" and add href="#v-pills-trash" to make it available -->
                        <a class="nav-link isDisabled" id="v-pills-trash-tab" data-toggle="pill"
                           role="tab" aria-controls="v-pills-trash" aria-selected="false">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <i class="fas fa-trash"></i>
                                </div>
                                <div class="col-8">
                                    Trash
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col container-fluid">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-projects" role="tabpanel"
                             aria-labelledby="v-pills-projects-tab-tab">
                            <div class="container-fluid">
                                <div class="py-2 container-fluid"> <!-- Header div for the file list -->
                                    <div class="row">
                                        <div class="col-4 text-center header-color">Name</div>
                                        <div class="col-4 text-center header-color">Last modified</div>
                                        <div class="col-2 text-center header-color">Type</div>
                                        <div class="col-1 text-center header-color" style="font-size:10px">Create Model</div>
                                        <div class="col-1 text-center header-color">More</div>
                                    </div>
                                </div>
                                <div id="projects-container" class="view-container container-fluid bg-white rounded">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-templates" role="tabpanel"
                                 aria-labelledby="v-pills-templates-tab">
                            <div class="container-fluid">
                                <div class="py-2 container-fluid"> <!-- Header div for the file list -->
                                    <div class="row">
                                        <div class="col-4 text-center header-color">Name</div>
                                        <div class="col-4 text-center header-color">Last modified</div>
                                        <div class="col-2 text-center header-color"></div>
                                        <div class="col-2 text-center header-color"></div>
                                    </div>
                                </div>
                                <div id="templates-container" class="view-container container-fluid bg-white rounded">
                                </div>
                            </div>
                        </div>
                            <!-- TODO: add shared with me html here -->
                        <div class="tab-pane fade" id="v-pills-share" role="tabpanel"
                             aria-labelledby="v-pills-share-tab">...</div>
                            <!-- TODO: add trash html here -->
                        <div class="tab-pane fade" id="v-pills-trash"
                             role="tabpanel" aria-labelledby="v-pills-trash-tab">...</div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="inner mt-3">
            <p class="text-center">&copy;<em>2018 The University of Melbourne</em></p>
        </footer>

        <!-- Create goal model modal-->
        <div class="modal fade" id="add-model" tabindex="-1" role="dialog"
             aria-labelledby="new-model" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new-model">New Model</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="create-model">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-3 text-center">
                                    <label class="mt-2 ml-1">Name</label>
                                </div>
                                <div class="col-9 text-center">
                                    <input name="model_name" type="text" class="form-control"
                                           placeholder="Untitled" required>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5 text-center">
                                    <label class="mt-2">Create From</label>
                                </div>
                                <div class="col-7 text-center">
                                    <select name="model_type" class="custom-select" required>
                                        <option value="Goal List" selected>Goal Lists</option>
                                        <option value="Template">Templates</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <!-- Rename project modal -->
        <div class="modal fade" id="rename-project" tabindex="-1" role="dialog"
             aria-labelledby="new-model" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Project Rename</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="rename_project">
                        <div class="modal-body">
                            <input name="project_name" type="text" class="form-control" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <!-- Delete project modal -->
        <div class="modal fade" id="delete-project" tabindex="-1" role="dialog"
             aria-labelledby="new-model" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="delete_project">
                        <div class="modal-body">
                            <lable type="text">You would lose all motivational models attached to the project.
                                Are you sure?</lable>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <!-- Rename model modal -->
        <div class="modal fade" id="rename-model" tabindex="-1" role="dialog"
             aria-labelledby="new-model" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Model Rename</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="rename_model">
                        <div class="modal-body">
                            <input name="model_name" type="text" class="form-control" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <!-- Delete model modal -->
        <div class="modal fade" id="delete-model" tabindex="-1" role="dialog"
             aria-labelledby="new-model" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="delete_model">
                        <div class="modal-body">
                            <lable type="text">Are you sure to delete the model?</lable>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <!-- Create project modal starts-->
        <div class="modal fade" id="add-project" tabindex="-1" role="dialog"
             aria-labelledby="new-project" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new-project">New Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="create-project">
                        <div class="modal-body">
                            <input name="project_name" type="text" class="form-control"
                                   placeholder="Project Name" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal ends -->

        <!-- Create template modal starts-->
        <div class="modal fade" id="add-template" tabindex="-1" role="dialog"
             aria-labelledby="new-project" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new-template">New Template</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="create-template">
                        <div class="modal-body">
                            <input name="template_name" type="text" class="form-control"
                                   placeholder="Template Name" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal ends -->

        <!-- Rename template modal starts-->
        <div class="modal fade" id="rename-template" tabindex="-1" role="dialog"
             aria-labelledby="new-project" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Rename Template</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="rename_template">
                        <div class="modal-body">
                            <input name="template_name" type="text" class="form-control"
                                   placeholder="Template Name" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">CONFIRM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal ends -->

        <!-- Delete template modal -->
        <div class="modal fade" id="delete-template" tabindex="-1" role="dialog"
             aria-labelledby="new-model" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="delete_template">
                        <div class="modal-body">
                            <lable type="text">Are you sure to delete the template?</lable>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: transparent"
                                    data-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal ends -->



        

    </div> <!-- End wrapper div -->
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/jquery.serialize-object.js"></script>

    <script src="/js/dashboard.js"></script>
</body>

</html>