<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Goal Model Edit Page</title>

    <!-- Loads and initializes the Bootstrap style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!--Load the edit page style-->
    <link rel="stylesheet" href="/stylesheet/projectedit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--add nestable library-->
    <link rel="stylesheet" href="/stylesheet/jquery.nestable.css">
    <!--<noscript>-->
    <!--<div style="display:inline;">-->
    <!--<img class="mb-4" src="/img/icon.ico" alt="icon" width="1" height="1">-->
    <!--</div>-->
    <!--</noscript>-->


    <!-- mxgraph basepath -->
    <script type="text/javascript">
        mxBasePath ='/src';
    </script>

    <!-- load and initialise mxgraph library -->
    <script type="text/javascript" src="/src/js/mxClient.js"></script>

    <!-- script for rendering graph #currently a stub -->
    <script type="text/javascript">

const WIDTH = 120;
const HEIGHT = 80;

/* Renders the window.jsonData into a symbolic goal model.
 *
 */
function renderGraph(container) {
    console.log("Logging: renderGraph() called.");

    // check that browser is supported
    if (!mxClient.isBrowserSupported()) {
        console.log("Logging: browser not supported");
        mxUtils.error("Browser not supported!", 200, false);
        return;
    }

    // disable context menu
    mxEvent.disableContextMenu(container);

    // create the graph object and configure
    graph = new mxGraph(container);

    // grab the first cluster from the global json
    var cluster = window.jsonData.GoalModelProject.Clusters[0]

    // render the graph
    graph.getModel().beginUpdate(); // start transaction
    renderCluster(cluster, graph); // update
    autolayout(graph);
    graph.getModel().endUpdate(); // end transaction
}


/* Renders a cluster of goals.
 *
 */
function renderCluster(cluster, graph) {
    console.log("Logging: renderCluster() called on cluster: " + cluster);

    // retrieve the graph's default parent - this effectively becomes the
    // parent of all "root" goals in the hierarchy
    var parent = graph.getDefaultParent();

    // 

    // render each goal in the cluster
    for (var i=0; i<cluster.ClusterGoals.length; i++) {
        renderGoal(null, cluster.ClusterGoals[i], graph);
    }
}

/* Renders a goal subtree.
 *
 */
function renderGoal(supergoal, goal, graph) {
    console.log("Logging: renderGoal() called with goal: " + goal);

    // fetch the default mxGraph cell parent
    var parent = graph.getDefaultParent();

    // if the goal is functional ...
    if (goal.GoalType == 'Functional') {
        var node = graph.insertVertex(parent, null, goal.GoalContent, 0, 0, WIDTH, HEIGHT);
        if (supergoal != null) {
            var edge = graph.insertEdge(parent, null, '', supergoal, node);
        }

    // else if non-functional ...
    } else {
        // do nothing for the moment
    }

    // render each of the goal's children
    for (var i=0; i<goal.SubGoals.length; i++) {
        child = renderGoal(node, goal.SubGoals[i], graph);
    }
    return node;
}


/* Auto-layout for graph
 *
 */
function autolayout(graph) {
    var layout = new mxHierarchicalLayout(graph, mxConstants.DIRECTION_NORTH);
    layout.execute(graph.getDefaultParent());
}

        function nothing(container) {
            console.log("Logging: renderGraph() called");

            // check that browser is supported
	    if (!mxClient.isBrowserSupported()) {
		mxUtils.error('Browser is not supported!', 200, false);
	    } else {

                // disable the build-in context menu
		mxEvent.disableContextMenu(container);


                /*
		var mxCellRendererInstallCellOverlayListeners = mxCellRenderer.prototype.installCellOverlayListeners;

		mxCellRenderer.prototype.installCellOverlayListeners = function(state, overlay, shape) {
		    mxCellRendererInstallCellOverlayListeners.apply(this, arguments);
                    mxEvent.addListener(shape.node, (mxClient.IS_POINTER) ? 'pointerdown' : 'mousedown', function (evt) {
			overlay.fireEvent(new mxEventObject('pointerdown', 'event', evt, 'state', state));
		    });
					
		    if (!mxClient.IS_POINTER && mxClient.IS_TOUCH) {
			mxEvent.addListener(shape.node, 'touchstart', function (evt) {
			    overlay.fireEvent(new mxEventObject('pointerdown', 'event', evt, 'state', state));
			});
		    }
		};
                */
				
		// Create the graph in the given container
		var graph = new mxGraph(container);

                // Graph settings
	        //graph.setPanning(true);
		//graph.panningHandler.useLeftButtonForPanning = true;
		//graph.setAllowDanglingEdges(false);
	        //graph.connectionHandler.select = false;
	        //graph.view.setTranslate(20, 20);

		// Enable rubberband selection
		new mxRubberband(graph);
				
		// Gets the default parent for inserting new cells. This
		// is normally the first child of the root (ie. layer 0).
		var parent = graph.getDefaultParent();

                graph.getModel().beginUpdate();
                try {
                    var a = graph.insertVertex(parent, null, 'hello', 20, 20, 80, 30);
                    var b = graph.insertVertex(parent, null, window.jsonData.GoalModelProject.Clusters[0].ClusterID, 20, 20, 80, 30);
                    var c = graph.insertEdge(parent, null, '', a, b);
                } finally {
                    graph.getModel().endUpdate();
                }


                /*
                var associate = function(cell) {};

		var addOverlay = function(cell) {
		    // Creates a new overlay with an image and a tooltip
		    var overlay = new mxCellOverlay(new mxImage('/src/images/add.png', 24, 24), 'Add outgoing');
		    overlay.cursor = 'hand';

		    // Installs a handler for clicks on the overlay							
		    overlay.addListener(mxEvent.CLICK, function(sender, evt2) {
			graph.clearSelection();
			var geo = graph.getCellGeometry(cell);
						
			var v2;
			executeLayout(function() {
			    v2 = graph.insertVertex(parent, null, 'CHILD', geo.x, geo.y, 120, 60);
			    addOverlay(v2);
			    graph.view.refresh(v2);
			    var e1 = graph.insertEdge(parent, null, '', cell, v2);
			}, function() {
			    graph.scrollCellToVisible(v2);
			});
		    });
					
		    // Special CMS event
		    overlay.addListener('pointerdown', function(sender, eo) {
			var evt2 = eo.getProperty('event');
			var state = eo.getProperty('state');
						
			graph.popupMenuHandler.hideMenu();
			graph.stopEditing(false);
						
			var pt = mxUtils.convertPoint(graph.container,
			    mxEvent.getClientX(evt2), mxEvent.getClientY(evt2));
			    graph.connectionHandler.start(state, pt.x, pt.y);
			    graph.isMouseDown = true;
			    graph.isMouseTrigger = mxEvent.isMouseEvent(evt2);
			    mxEvent.consume(evt2);
			});
					
		    // Sets the overlay for the cell in the graph
		    graph.addCellOverlay(cell, overlay);
		}
								
		// Adds cells to the model in a single step
		graph.getModel().beginUpdate();
		var v1;
		try {
		    v1 = graph.insertVertex(parent, null, 'ROOT', 0, 0, 120, 60);
		    addOverlay(v1);
		} finally {
		    // Updates the display
		    graph.getModel().endUpdate();
		}

		var layout = new mxHierarchicalLayout(graph, mxConstants.DIRECTION_NORTH);
				
		var executeLayout = function(change, post) {
		    graph.getModel().beginUpdate();
		    try {
		        if (change != null) {
			    change();
			}
						
		    	layout.execute(graph.getDefaultParent(), v1);
		    } catch (e) {
			throw e;
		    } finally {
			// New API for animating graph layout results asynchronously
			var morph = new mxMorphing(graph);
		        morph.addListener(mxEvent.DONE, mxUtils.bind(this, function() {
			    graph.getModel().endUpdate();
							
			    if (post != null) {
				post();
			    }
			}));
						
			morph.startAnimation();
		    }
                };
                // end addOverlay()
				
	        var edgeHandleConnect = mxEdgeHandler.prototype.connect;
		mxEdgeHandler.prototype.connect = function(edge, terminal, isSource, isClone, me) {
		    edgeHandleConnect.apply(this, arguments);
		    executeLayout();
		};
				
		graph.resizeCell = function() {
		    mxGraph.prototype.resizeCell.apply(this, arguments);
                    executeLayout();
		};

	        graph.connectionHandler.addListener(mxEvent.CONNECT, function() {
		    executeLayout();
	        });
	    }
            */
            }
	};
    </script>

</head>


<body onload="loadData()" style="background-color: white">
<!--<div class="pad_menu">-->

<!--the top navigation bar-->
<div class="container-heading1" style="background-color: white">
    <!--<div class="header-filter" style="background-image: url('/img/home-background.jpg')"></div>-->
    <!--<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" role="navigation" -->
    <!--style="background-color: rgb(236, 244, 244); "-->
    <!--&gt;-->
    <nav class="navbar navbar-expand-sm navbar-light navbar-fixed-top header" role="navigation"
         style="background-image: url('/img/profile-background.jpg'); "
    >
        <a class="navbar-brand" href="#" style="font-size: 35px"><header><strong>Goal Model</strong></header></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="form-inline ml-auto" style="float: right; margin-right: 20px">
            <div class="row text-center">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a id="username">username</a>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" method="post"
                           id="signout">Sign out</a>
                    </div>
                </div>
                <a class="btn btn-secondary ml-2" href="/dashboard">Return</a>
            </div>
        </div>
    </nav>
</div>

<!--<div class="container-heading2" style="background-color: white">-->
<!--<nav class="navbar navbar-expand-lg navbar-light showborder"-->
<!--style="border-color: lightgrey; border-left: 0px; border-right:0px">-->
<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul class="navbar-nav mr-auto">-->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link" href="/">Home</a>-->
<!--</li>-->
<!--<span class="border"></span>-->
<!--&lt;!&ndash;<li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;Files&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="dropdown-item" href="#">New</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="dropdown-item" href="#">Open</a>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link" href="/dashboard">Dashboard</a>-->
<!--</li>-->
<!--<span class="border"></span>-->
<!--&lt;!&ndash;<li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" href="#">Version 1</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->

<!--</ul>-->

<!--</div>-->
<!--</nav>-->
<!--</div>-->



<!--the main section-->
<div class="container-body">
    <div id="height-full-screen" class="container-fluid">
        <div class="row">
            <!--import pictures section start-->
            <div id="photo" class="col-7 showborder scrollbar" style="background-color:rgba(35, 144, 231, 0.1);">
                <fieldset class="form-group">
                    <br/>
                    <button class="btn btn-outline-primary" onclick="$('#pro-image').click()">Upload Image</button>
                    <input type="file" accept="image/*" id="pro-image" name="pro-image" style="display: none;" class="form-control" multiple>
                </fieldset>
                <div class="preview-images-zone" style="background-color: white">
                    <!--preview-images-zone-->
                </div>
            </div>
            <!--import pictures section end-->

            <!--to do list goal section start-->
            <div id="todolist" class="col-5 showborder scrollbar" style="margin-top: 0px; background-color: rgb(236, 244, 244)">
                <!-- Nav tabs -->
                <fieldset class="form-group py-0 my-0">
                    <div class="text-right my-1">
                        <button id="photonextbtn" class="btn-sm btn-outline-primary" onclick="photonextbtn()">Next</button>
                    </div>
                    <ul class="nav nav-tabs nav-justified indigo" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"><i class="fa fa-square"></i> Functional</a>
                            <!--<span class="badge badge-primary">Functional</span>-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"><i class="fa fa-cloud"></i> Quality</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab"><img class="icon1" src="/img/greenheart.ico"/> Feeling</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel4" role="tab"><img class="icon" src="/img/blackheart_trans_bg.ico"/> Concern</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-user-circle-o"></i> Actor</a>
                        </li>



                    </ul>
                </fieldset>



                <!-- Tab panels -->
                <div style="background-color: white ">
                    <div id="goals" class="tab-content inside-scrollbar notopborder">
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active pt-2" id="panel1" role="tabpanel">
                            <!--<h6>Functional Goals</h6>-->
                            <!--show functional data from JSON-->
                            <div id="functionaldata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 1-->
                        <!--Panel 2-->
                        <div class="tab-pane fade pt-2" id="panel2" role="tabpanel">
                            <!--<h6>Quality Goals</h6>-->
                            <!--show quality data from JSON-->
                            <div id="qualitydata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 2-->
                        <!--Panel 3-->
                        <div class="tab-pane fade pt-2" id="panel3" role="tabpanel">
                            <!--<h6>Emotional Goals</h6>-->
                            <!--show emotional data from JSON-->
                            <div id="emotionaldata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 3-->
                        <!--Panel 4-->
                        <div class="tab-pane fade pt-2" id="panel4" role="tabpanel">
                            <!--<h6>Negative Goals</h6>-->
                            <!--show negative data from JSON-->
                            <div id="negativedata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 5-->
                        <div class="tab-pane fade pt-2" id="panel5" role="tabpanel">
                            <!--<h6>Stakeholder</h6>-->
                            <!--show stakeholder data from JSON-->
                            <div id="stakeholderdata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 5-->
                    </div>

                    <!--used goals-->
                    <div id="notes" class="showborder inside-scrollbar" style="display: none">
                        <h6>Notes</h6>
                        <div id="notedata">
                            <text id="notecontent"></text>
                        </div>
                    </div>

                    <!--deleted goals-->
                    <!--<div id="deletedgoal" class="showborder inside-scrollbar" style="display: none">-->
                        <!--<h6>Deleted Goals</h6>-->
                        <!--<div id="deletedgoaldata"></div>-->
                    <!--</div>-->

                </div>

            </div>
            <!--to do list section end-->

            <!--cluster section start-->
            <div id="cluster" class="col-7 showborder scrollbar" style="display: none; background-color:rgba(35, 144, 231, 0.1);">
                <div>
                    <h4>Cluster</h4>
                    <button class="btn-sm btn-outline-primary" onclick="addCluster()">Add</button>
                    <button class="btn-sm btn-outline-primary" id="clusternextbtn" onclick="clusternext()">Render</button>
                    <button style="display: none" class="btn-sm btn-outline-primary" id="renderbtn" onclick="renderGraph(document.getElementById('graphContainer'))">Render</button>
                    <button type="button" id="edit">Edit All</button>
                    <button type="button" id="drag">Drag All</button>
                </div>
                <!--show cluster data from JSON-->
                <div class="showborder inside-scrollbar dd" id="cluster_1" style="background-color: white"></div>
            </div>
            <!--cluster section end-->

            <!--&lt;!&ndash;hierachy section start&ndash;&gt;-->
            <!--<div id="hierarchy" class="col-4 showborder scrollbar" style="display: none; background-color: rgb(236, 244, 244)">-->
                <!--<div>-->
                    <!--<h4>Hierarchy</h4>-->

                <!--</div>-->
                <!--&lt;!&ndash;show hierarchy data from JSON&ndash;&gt;-->
                <!--<div class="hierarchy showborder inside-scrollbar" id="hierarchydata" style="background-color: white"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;hierachy section end&ndash;&gt;-->

            <!--generate section start-->
            <div id="generator" class="col-sm showborder scrollbar" style="display: none; background-color: rgb(236, 244, 244)">
                <div>
                    <h3>Generate Your Goal Model</h3>
                </div>
                <div id="graphContainer"
                    style="position:relative;overflow:hidden;width:821px;height:641px;background:url('/src/images/grid.gif');cursor:default;">
                </div>
            </div>
            <!--generate section end-->

        </div>
    </div>
</div>


<!-- Loads and initializes the Bootstrap javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!--add nestable library-->
<script src="/js/jquery.nestable.js"></script>
<script type="text/javascript" src="/js/projectedit.js"></script>
<footer>
    <p class="text-center">&copy;<em>&nbsp;2018 The University of Melbourne</em></p>
</footer>

<!--</div>-->
</body>

</html>
