<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/leon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Goal Model Edit Page</title>

    <!-- Loads and initializes the Bootstrap style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!--Load the edit page style-->
    <link rel="stylesheet" href="/stylesheet/projectedit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--add nestable library-->
    <link rel="stylesheet" href="/stylesheet/jquery.nestable.css">

    <!--<noscript>-->
    <!--<div style="display:inline;">-->
    <!--<img class="mb-4" src="/img/icon.ico" alt="icon" width="1" height="1">-->
    <!--</div>-->
    <!--</noscript>-->


    <!--&lt;!&ndash; mxgraph basepath &ndash;&gt;-->
    <!--<script type="text/javascript">-->
        <!--mxBasePath ='/src';-->
    <!--</script>-->

    <!--&lt;!&ndash; load and initialise mxgraph library &ndash;&gt;-->
    <!--<script type="text/javascript" src="/src/js/mxClient.js"></script>-->

    <!--&lt;!&ndash; script for rendering graph #currently a stub &ndash;&gt;-->
    <!--<script type="text/javascript" src="/js/graph.js">-->
    <!--</script>-->

</head>


<body onload="getJSONFile()" style="background-color: white">
<!--<div class="pad_menu">-->

    <!-- Start alert div -->
    <!-- Success alert -->
    <div style="display: none" class="text-center alert alert-success mb-0 notification"
         id="success-alert" role="alert">
    </div>
    <!-- Warning alert -->
    <div style="display: none" class="text-center alert alert-warning mb-0 notification"
         id="warning-alert" role="alert">
    </div>

<div class="modal" id="loadingModal">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <img src="/img/loading1.gif" height="150" width="150"/>
        <h6>Loading...</h6>
    </div>
</div>

    <!-- End alert div -->
<!--the top navigation bar-->

<!--<div class="lds-roller" style="text-align: center;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->



<div class="container-heading1" style="background-color: white">
    <!--<div class="header-filter" style="background-image: url('/img/home-background.jpg')"></div>-->
    <!--<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" role="navigation" -->
    <!--style="background-color: rgb(236, 244, 244); "-->
    <!--&gt;-->
    <nav class="navbar navbar-expand-sm navbar-light navbar-fixed-top header" role="navigation"
         style="background-image: url('/img/profile-background.jpg'); ">
        <a class="navbar-brand" href="#" id="model_name" style="font-size: 35px"><strong>Goal Model</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="form-inline ml-auto" style="float: right; margin-right: 20px">
            <div class="row text-center">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a id="username">username</a>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" method="post"
                           id="signout">Sign out</a>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-success ml-2" id="save">Save</button>-->
                <a class="btn btn-secondary ml-2" href="/dashboard">Return</a>
            </div>
        </div>
    </nav>
</div>


<!--the main section-->
<div class="container-body">
    <div id="height-full-screen" class="container-fluid">
        <div class="row">
            <!--import pictures section start-->
            <div id="photo" class="col-7 showborder scrollbar" style="background-color:rgba(35, 144, 231, 0.1);">
                <fieldset class="form-group">
                    <br/>
                    <button class="btn btn-outline-primary" onclick="$('#pro-image').click()">Upload Image</button>
                    <input type="file" accept="image/*" id="pro-image" name="pro-image" style="display: none;" class="form-control" multiple>
                </fieldset>
                <div class="preview-images-zone" style="background-color: white">
                    <!--preview-images-zone-->
                </div>
            </div>
            <!--import pictures section end-->

            <!--to do list goal section start-->
            <div id="todolist" class="col-5 showborder scrollbar" style="margin-top: 0px; background-color: rgb(236, 244, 244)">
                <!-- Nav tabs -->
                <fieldset class="form-group py-0 my-0">
                    <div class="text-right my-1">
                        <button id="photonextbtn" class="btn-sm btn-outline-primary" onclick="photonextbtn()">Next</button>
                    </div>
                    <ul class="nav nav-tabs nav-justified indigo" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"><i class="fa fa-square"></i> Functional</a>
                            <!--<span class="badge badge-primary">Functional</span>-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"><i class="fa fa-cloud"></i> Quality</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab"><img class="icon1" src="/img/greenheart.ico"/> Feeling</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel4" role="tab"><img class="icon" src="/img/blackheart_trans_bg.ico"/> Concern</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-user-circle-o"></i> Actor</a>
                        </li>



                    </ul>
                </fieldset>



                <!-- Tab panels -->
                <div style="background-color: white ">
                    <div id="goals" class="tab-content inside-scrollbar notopborder">
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active pt-2" id="panel1" role="tabpanel">
                            <!--<h6>Functional Goals</h6>-->
                            <!--show functional data from JSON-->
                            <div id="functionaldata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 1-->
                        <!--Panel 2-->
                        <div class="tab-pane fade pt-2" id="panel2" role="tabpanel">
                            <!--<h6>Quality Goals</h6>-->
                            <!--show quality data from JSON-->
                            <div id="qualitydata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 2-->
                        <!--Panel 3-->
                        <div class="tab-pane fade pt-2" id="panel3" role="tabpanel">
                            <!--<h6>Emotional Goals</h6>-->
                            <!--show emotional data from JSON-->
                            <div id="emotionaldata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 3-->
                        <!--Panel 4-->
                        <div class="tab-pane fade pt-2" id="panel4" role="tabpanel">
                            <!--<h6>Negative Goals</h6>-->
                            <!--show negative data from JSON-->
                            <div id="negativedata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 5-->
                        <div class="tab-pane fade pt-2" id="panel5" role="tabpanel">
                            <!--<h6>Stakeholder</h6>-->
                            <!--show stakeholder data from JSON-->
                            <div id="stakeholderdata" class="goal-list"></div>
                        </div>
                        <!--/.Panel 5-->
                    </div>

                    <!--used goals-->
                    <div id="notes" class="showborder inside-scrollbar" style="display: none">
                        <h6>Notes</h6>
                        <div id="notedata">
                            <text id="notecontent"></text>
                        </div>
                    </div>

                    <!--deleted goals-->
                    <!--<div id="deletedgoal" class="showborder inside-scrollbar" style="display: none">-->
                        <!--<h6>Deleted Goals</h6>-->
                        <!--<div id="deletedgoaldata"></div>-->
                    <!--</div>-->

                </div>

            </div>
            <!--to do list section end-->

            <!--cluster section start-->
            <div id="cluster" class="col-7 showborder scrollbar" style="display: none; background-color:rgba(35, 144, 231, 0.1);">
                <div>
                    <h4>Cluster</h4>
                    <button class="btn-sm btn-outline-primary" id="clusternextbtn" onclick="clusternext()">Next</button>
                    <button style="display: none" class="btn-sm btn-outline-primary" id="renderbtn" onclick="renderGraph(document.getElementById('graphContainer'))">Render</button>
                    <button type="button" class="btn-sm btn-outline-primary" id="edit">Edit All</button>
                    <button type="button" class="btn-sm btn-outline-primary" id="drag">Drag All</button>
                    <a id="Export" href="#">ExportSVG</a>
                </div>
                <!--show cluster data from JSON-->
                <div class="dd py-3" id="cluster_1">
                     <!--style="background-color: white"-->
                </div>
            </div>
            <!--cluster section end-->

            <!--&lt;!&ndash;hierachy section start&ndash;&gt;-->
            <!--<div id="hierarchy" class="col-4 showborder scrollbar" style="display: none; background-color: rgb(236, 244, 244)">-->
                <!--<div>-->
                    <!--<h4>Hierarchy</h4>-->

                <!--</div>-->
                <!--&lt;!&ndash;show hierarchy data from JSON&ndash;&gt;-->
                <!--<div class="hierarchy showborder inside-scrollbar" id="hierarchydata" style="background-color: white"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;hierachy section end&ndash;&gt;-->

            <!--generate section start-->
            <div id="generator" class="col-sm showborder scrollbar" style="display: none; background-color: rgb(236, 244, 244)">
                <div class="row">
                    <div class="col-10 text-left my-1">
                        <h3>Generate Your Goal Model</h3>
                    </div>
                    <div class="col-2 text-right my-1">
                        <button type="button" class="btn-sm btn-outline-primary" id="saveXML">Save Graph</button>
                    </div>
                </div>
                <div id="graphContainer"
                    style="position:relative;overflow:hidden;width:821px;height:641px;background:url('/src/images/grid.gif');cursor:default;">
                </div>
            </div>
            <!--generate section end-->

        </div>
    </div>
</div>





<!-- Loads and initializes the Bootstrap javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    //show loading
    $("#loadingModal").modal("show");
</script>
<!-- mxgraph basepath -->
<script type="text/javascript">
    mxBasePath ='/src';
</script>
<!-- load and initialise mxgraph library -->
<script type="text/javascript" src="/src/js/mxClient.js"></script>

<!-- script for rendering graph #currently a stub -->
<script type="text/javascript" src="/js/projectEdit/graph.js"></script>

<!--add nestable library-->
<script src="/js/projectEdit/jquery.nestable.js"></script>
<script src="/js/projectEdit/image.js"></script>
<script src="/js/projectEdit/goalList.js"></script>
<script src="/js/projectEdit/projectEdit.js"></script>
<script src="/js/projectEdit/graphXML.js"></script>

<footer>
    <p class="text-center">&copy;<em>&nbsp;2018 The University of Melbourne</em></p>
</footer>

<!--</div>-->
</body>

</html>
