<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/leon.png">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheet/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
          rel="stylesheet" type="text/css" />


</head>
<!-- Warning alert -->
<div style="display: none;position: absolute" class="text-center alert alert-warning mb-0 notification"
     id="warning-alert" role="alert">
</div>
<!-- End alert div -->
<body>

<form class="form-signin" id="register">

    <!-- Form header -->
    <div class="text-center">
        <img class="mb-2" src="/img/leon.png" alt="icon" width="72" height="72">
    </div>
    <h1 class="h3 mb-2 font-weight-normal text-center">Create your account</h1>

    <div class="row my-4">
        <div class="col-3 text-center">
            <label class="control-label mt-1" for="username">User Name</label>
        </div>
        <div class="col-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>

                <input id="username" data-validation="length alphanumeric usernameExist"
                       data-validation-length="3-12"
                       data-validation-error-msg="Please enter an alphanumeric value (3-12 characters)"
                       name="username" class="form-control">
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-3 text-center">
            <label class="control-label mt-1" for="inputEmail">Email</label>
        </div>
        <div class="col-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" id="inputEmail" name="email" data-validation="email"
                       data-validation-error-msg="Please enter a valid E-mail address (@)"
                       class="form-control">
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-3 text-center">
            <label class="control-label mt-1" for="firstName">First Name</label>
        </div>
        <div class="col-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" data-validation="custom" data-validation-regexp="^[_A-z]{1,20}$" id="firstName"
                       data-validation-error-msg="Please enter no more than 20 English letters"
                       name="firstname" class="form-control">
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-3 text-center">
            <label for="lastName" class="control-label mt-1">Last Name</label>
        </div>
        <div class="col-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" data-validation="custom" data-validation-regexp="^[_A-z]{1,20}$"
                       data-validation-error-msg="Please enter no more than 20 English letters"
                       id="lastName" class="form-control" name="lastname">
            </div>
        </div>
    </div>


    <div class="row my-4">
        <div class="col-3 text-center">
            <label for="password_confirmation" class="control-label">Password</label>
        </div>
        <div class="col-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password_confirmation" id="password_confirmation"
                       data-validation="length"
                       data-validation-length="6-20"
                       data-validation-error-msg="Please enter a password (6-20 characters)"
                       class="form-control" >
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-3 text-center">
            <label for="password" class="control-label">Confirm Password</label>
        </div>
        <div class="col-9">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" id="password" name="password" class="form-control"
                       data-validation="confirmation"
                       data-validation-confirm="password_confirmation"
                       data-validation-error-msg="Passwords are not the same, Please check" >
            </div>
        </div>
    </div>
    <!--<div class="row mt-2">-->
        <!--<div class="col-2"></div>-->
        <!--<div class="col-8">-->
            <!--<input data-validation="recaptcha" data-validation-recaptcha-sitekey="[RECAPTCHA_SITEKEY]">-->
        <!--</div>-->
        <!--<div class="col-2"></div>-->
    <!--</div>-->


    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Register</button>

    <footer>
        <p class="mt-5 mb-3 text-muted text-center">&copy;<em>2018 The University of Melbourne</em></p>
    </footer>
</form>
</body>

<!-- Bootstrap JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="/js/register.js"></script>
</html>
