<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.ico">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheet/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


</head>


<!--<body class="text-center">-->


<form class="form-signin" id="register" data-toggle="validator" action="/user/register" method="post">

    <div class="text-center">
        <img class="mb-4 img-responsive center-block" src="/img/icon.ico" alt="" width="72" height="72">
    </div>
    <h1 class="h3 mb-3 font-weight-normal text-center">Create your account</h1>

    <!--<form data-toggle="validator" role="form">-->
    <div class="form-group">
        <label class="control-label">User Name</label>
            <label for="username" class="sr-only">User Name</label>
            <div class="input-group">
                <input type="text" pattern="^[_A-z]{1,}$" id="username" class="form-control"
                       name="username"
                       required>
                <!--placeholder="alphabet characters only"-->
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors mt-1"></div>
        </div>

                       <!--data-remote="/user/register/validname"-->
                       <!--data-match-error="The username already exists" -->
           <!--<div class="help-block with-errors mt-2"></div>-->
    </div>

    <div class="form-group">
        <label class="control-label">First Name</label>
        <label for="firstName" class="sr-only">First Name</label>
        <div class="input-group">
            <input type="text" pattern="^[_A-z]{1,}$" id="firstName" class="form-control"
                   name="firstname"
                   required>
            <!--placeholder="alphabet characters only"-->
        </div>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors mt-1"></div>
    </div>

    <div class="form-group">
        <label class="control-label">Last Name</label>
        <label for="lastName" class="sr-only">Last Name</label>
        <div class="input-group">
            <input type="text" pattern="^[_A-z]{1,}$" id="lastName" class="form-control"
                   name="lastname"
                   required>
            <!--placeholder="alphabet characters only"-->
        </div>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors mt-1"></div>
    </div>


    <div class="form-group">
        <label class="control-label">Email</label>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control"
               name="email" required>
        <!--placeholder="Email Address"-->
        <!--data-error="Oops, that email address is invalid"-->
        <div class="help-block with-errors mt-1"></div>
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" data-minlength="6" class="form-control"
               name="password" id="inputPassword" required>
        <!--placeholder="Password"-->
        <div class="help-block">Minimum of 6 characters</div>
    </div>


    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control"
               data-match="#inputPassword" data-match-error="Password not the same, please check."
               required>
        <!--placeholder="Confirm Password"-->
        <div class="help-block with-errors"></div>
    </div>


    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Submit</button>
    <!--<a class="btn btn-lg btn-primary btn-block" href="/register">Register</a>-->

    <footer>
        <p class="mt-5 mb-3 text-muted text-center">&copy;<em>2018 The University of Melbourne</em></p>
    </footer>
</form>
</body>

<!-- Bootstrap JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!--add bootstrap validator library-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
<script src="/js/registration.js"></script>
</html>
