<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.ico">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheet/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


</head>


<!--<body class="text-center">-->


<form class="form-signin" data-toggle="validator" action="/user/register" method="post">

    <div class="text-center">
        <img class="mb-4 img-responsive center-block" src="/img/icon.ico" alt="" width="72" height="72">
    </div>
    <h1 class="h3 mb-3 font-weight-normal text-center">Create your account</h1>

    <div class="form-group">
        <label class="control-label">Username</label>
        <label for="username" class="sr-only">Username</label>
        <input type="username" id="username" class="form-control"
                   name="username" placeholder="Username" required>
               <!--data-remote="/user/register/validname"-->
               <!--data-match-error="The username already exists" -->
        <!--<div class="help-block with-errors mt-2"></div>-->
    </div>

    <label class="control-label">First Name</label>
    <label for="firstName" class="sr-only">First Name</label>
    <input type="firstname" id="firstName" class="form-control"
           name="firstname" placeholder="First Name" required>

    <label class="control-label">Last Name</label>
    <label for="lastName" class="sr-only">Last Name</label>
    <input type="lastname" id="lastName" class="form-control"
           name="lastname" placeholder="Last Name" required>

    <label class="control-label">Email</label>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control"
           name="email" placeholder="Email Address" required autofocus>

    <label class="control-label">Password</label>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control"
           name="password" placeholder="Password" required>

    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control"
               data-match="#inputPassword" data-match-error="Password not the same, please check."
               placeholder="Confirm Password" required>
        <div class="help-block with-errors"></div>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Submit</button>
    <!--<a class="btn btn-lg btn-primary btn-block" href="/register">Register</a>-->

    <footer>
        <p class="mt-5 mb-3 text-muted text-center">&copy;<em>2018 The University of Melbourne</em></p>
    </footer>
</form>
</body>

<!-- Bootstrap JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--add bootstrap validator library-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
</html>