/* header style */
header {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
    background-image: url('https://picsum.photos/3000/200?random');
}

/* color of the text */
.text-color {
    color: rgba(0,0,0,.54);
}
/* for v1 */
/*!* file list block *!*/
/*#file-list {*/
    /*overflow: scroll;*/
    /*display: block;*/
    /*height: 75vh;*/
/*}*/

/*!* file item block *!*/
/*.file-item {*/
    /*overflow: scroll;*/
    /*display: block;*/
/*}*/

/* main style */
main {
    background-color: #f5f5f5;
    height: 80vh;
    display: block;
}

/* project container style */
#projects-container {
    height: 75vh;
    display: block;
    overflow: scroll;
}

/* project img */
.project-icon {
    height: 15vh;
    width: auto;
    opacity: 1;
    margin: 1.25rem;
}

/* project block */
.project {
    padding: 2rem 5rem;
    display: inline-block;
    max-height: 30vh;
    width: 33%;
    overflow: scroll;
    position: relative;
}

/* hide goal list*/
.project .goal-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    width: 100%;
    opacity: 0;
    overflow: scroll;
    border-bottom: 1px solid white;
}

/* hover on project
   show goal list */
.project:hover {
    background-image:
            -webkit-radial-gradient(80% 10%, circle, skyblue, transparent),
            -webkit-radial-gradient(80% 50%, circle, blue, transparent),
            -webkit-radial-gradient(20% 80%, 40em 40em, lightblue, transparent),
            -webkit-radial-gradient(10% 10%, circle, darkblue, transparent);
    /*background: linear-gradient(to bottom, skyblue , white);*/
    color: #fff;
    display: inline-block;
    border-radius: 20px;
    padding: 0;
}

.project:hover h6 {
    margin: 0;
    padding: 0;
    display: none;
}

.project:hover .project-icon {
    opacity: 0;
}

.project:hover .goal-list {
    opacity: 1;
}

.project .goal-model {
    border-bottom: 1px solid white;
}

.project .create-goal-model {
    display: none;
}

.project:hover .create-goal-model {
    display: block;
}
