header {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.5);
    background-image: url("/img/profile-background.jpg");
}

/*show border start*/
.showborder {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 3px;
}
/*show border end*/

/*Set frame and scroll start*/
#height-full-screen > .row {
    min-height: 76vh;
}
.scrollbar {
    height: 76vh;
    overflow-y: scroll;
}
.inside-scrollbar {
    height: 28vh;
    overflow-y: scroll;
}
/*Set frame and scroll end*/

/*import photos start*/
.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow: auto;
    margin-bottom: 15px;
}
.preview-images-zone > .preview-image:first-child {
    /*height: 185px;*/
    width: 100%;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
    /*height: 90px;*/
    width: 100%;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: 0.5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}

.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}

.container-body {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-heading1 {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-heading2 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
/*import photos end*/

/*cluster div start*/
.dd {
    width: 90%;
    margin: 10px auto;
    height: auto;
    position: relative;
}

input {
    border: 0px;
    width:100%;
    cursor: move;
}

.icon {
    height: 20px;
    width: auto;
    margin-bottom: 6px;
}


.notopborder {
    border-width: 1px;
    border-top-width: 0px;
    border-style: solid;
    border-color: lightgrey;
}

.notification {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.dd-handle-style {

    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: move;
}

.typeIcon {
    height:100%;
    float:left;
}

#model_name {
    cursor: default;
}

footer {
    cursor: default;
}

/*progress bar*/
.steps_bar ul { border-left:solid 1px #ccc; overflow:auto; margin: 0;padding:0;}
.steps_bar ul li { float:left; height:57px; padding-right:19px; line-height:60px; text-align:center; background:url("/img/stepbar.png")  no-repeat 100% 0 #f1f1f1; font-weight:bold;}
.steps_bar ul li span { display:block; height:58px; padding:0; background:#f1f1f1; border-top:solid 1px #ccc; border-bottom:solid 1px #ccc;}
.steps_bar ul li.done { color:#fff; background-position:100% -120px; background-color:rgb(186,213,185);}
.steps_bar ul li.current_prev { color:#fff; background-position:100% -60px; background-color:rgb(186,213,185);}
.steps_bar ul li.done span, .steps_bar ul li.current_prev span { background:rgb(186,213,185);}

.steps_bar ul li.current { color:#fff; background-color:rgb(126,176,125);}
.steps_bar ul li.current span { background:rgb(126,176,125);}
.steps_bar ul li.last { background-position:100% -180px; background-color:transparent;}
.steps_bar ul li.last span { background:#f1f1f1;}
.steps_bar ul li.last.current { background-position:100% -240px;}
.steps_bar ul li.last.current span { background:rgb(126,176,125);}

.steps_bar ul li {
    width: 33.33%;
}

.steps_bar{
    cursor: pointer;
}
