<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        function Show_Hidden(obj)
        {
            if(obj.style.display==="block")
            {
                obj.style.display='none';
            }
            else
            {
                obj.style.display='block';
            }
        }

        function Show_Cancel(obj)
        {
            if(obj.style.visibility==='hidden')
            {
                obj.style.visibility='visible';
            }
            else
            {
                obj.style.visibility='hidden';
            }
        }

        function Change_Title(obj)
        {
            if(obj.innerHTML==="Personal info")
            {
                obj.innerHTML="Edit personal info";
            }
            else
            {
                obj.innerHTML="Personal info";
            }
        }

        function Change_Readonly(obj)
        {
            if(obj.getAttribute("readOnly")==='true')
            {
                obj.removeAttribute("readOnly");
            }
            else
            {
                obj.setAttribute("readOnly",'true');
            }
        }

        window.onload=function()
        {
            var button=document.getElementById("edit");
            var ccl=document.getElementById("cancel");

            var title=document.getElementById("title");

            var username=document.getElementById("username");
            var orpwd=document.getElementById("orpwd");
            var newpwd=document.getElementById("newpwd");
            var cfpwd=document.getElementById("cfpwd");

            var fname=document.getElementById("firstname");
            var lname=document.getElementById("lastname");
            var company=document.getElementById("company");
            var email=document.getElementById("email");

            ccl.style.visibility = 'hidden';

            fname.setAttribute("readOnly",'true');
            lname.setAttribute("readOnly",'true');
            company.setAttribute("readOnly",'true');
            email.setAttribute("readOnly",'true');

            button.onclick=function()
            {
                Show_Hidden(username);
                Show_Hidden(orpwd);
                Show_Hidden(newpwd);
                Show_Hidden(cfpwd);

                Show_Cancel(ccl);

                Change_Title(title);

                if (button.value=="Edit")
                    button.value = "Confirm";
                else button.value = "Edit";

                Change_Readonly(fname);
                Change_Readonly(lname);
                Change_Readonly(company);
                Change_Readonly(email);

                return false;
            }

            ccl.onclick=function()
            {
                Show_Hidden(username);
                Show_Hidden(orpwd);
                Show_Hidden(newpwd);
                Show_Hidden(cfpwd);

                Show_Cancel(ccl);

                Change_Title(title);

                if (button.value=="Edit")
                    button.value = "Confirm";
                else button.value = "Edit";

                Change_Readonly(fname);
                Change_Readonly(lname);
                Change_Readonly(company);
                Change_Readonly(email);

                return false;
            }
        }
    </script>

    <title>Edit User Profile</title>
</head>
<body>
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-3">
        </div>
        <div class="col-md-9 personal-info">

            <!--<div class="alert alert-warning" role="alert">-->
                <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
                <!--<i class="fa fa-coffee"></i>-->
                <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
            <!--</div>-->
            <h3 id="title">Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group" id="username" style="display:block">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="jiachengs" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="firstname" value="Jiacheng">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="lastname" value="Sun" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Company:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="company" value="University of Melbourne">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="email" value="jakesun113@gmail.com">
                    </div>
                </div>
                <div class="form-group" id="orpwd" style="display:none">
                    <label class="col-md-3 control-label">Original password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group" id="newpwd" style="display:none">
                    <label class="col-md-3 control-label" >New password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" value="">
                    </div>
                </div>
                <div class="form-group"  id="cfpwd" style="display:none">
                    <label class="col-md-3 control-label">Confirm new password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8" >
                        <input class="btn btn-primary" type="button" id="edit" value="Edit">
                        <input class="btn btn-default" type="reset" id="cancel" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<footer class="mastfoot mt-auto">
    <div class="inner">
        <p class="text-center">&copy;<em>2018 The University of Melbourne</em></p>
    </div>
</footer>
</html>